.section_1 {
  .box_1 {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    div {
      background-color: #ffffff;
      padding: 50px 50px;
    }
  }
  padding: 100px;
  h1 {
    color: #534297;
    text-align: center;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .section_1{
    .box_1{
      display: grid;
      grid-template-columns: repeat(3) 1fr;
    }
  }
}
.section_2 {
  padding: 100px;
  .box_2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    div {
      background-color: #ffffff;
      padding: 50px 50px;
    }
  }
  h1 {
    color: #534297;
    text-align: center;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .section_2{
    .box_2{
      display: grid;
      grid-template-columns: repeat(3) 1fr;
    }
  }
}
.section_3 {
  padding: 100px;
  background-color: #534297;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: #ffffff;
    margin-bottom: 2rem;
  }
  button {
    outline: none;
    border-color: #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 50px;
  }
  img {
    width: 100%;
  }
}
